.clicked{
    background-color: rgb(61, 61, 40);
    color: black;
    font-size: 13px;
}

.hidden{
    height: 100px;
    width: 200px;
    background-color: red;
    margin-top: 20px;
    display: none;
}

.square{
    background-color: blue;
}

.testing{
    height: 100px;
    width: 200px;
    background-color: green;
}